body {
  font: 18px 'Lucida Grande', 'Lucida Sans', Tahoma, Verdana, sans-serif;
  background-color: aliceblue;
  max-width: 1150px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  padding-top: 20px;
}

.hero-inner {
  display: flex;
  max-width: 1150px;
  gap: 16px;
  height: 400px;
  padding: 20px 10px;
  margin: 0 auto;
}

div img {
  border-radius: 5%;
}

footer {
  text-align: center;
  padding: 10px 10px;
}

.quote {
  text-align: center;
}

.h2-p {
  text-decoration: underline;
}
