body {
  font: 18px 'Lucida Grande', 'Lucida Sans', Tahoma, Verdana, sans-serif;
  background-color: aliceblue;
  margin: auto;
  padding-top: 100px;
}

main {
    max-width: 1150px;
    margin: auto;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background: aliceblue;
  border-bottom: 2px solid black;
  height: 100px;
display: flex;
align-items: center;
justify-content: center;
}

.hero-inner {
  display: flex;
  max-width: 1150px;
  gap: 16px;
  height: 400px;
  padding: 20px 10px;
  margin: 0 auto;
}

div img {
  border-radius: 5%;
}

footer {
  text-align: center;
  padding: 10px 10px;
}

.quote {
  text-align: center;
}

.h2-p {
  text-decoration: underline;
}
